/* Firefox support */
.sidebar {
  scrollbar-color: #f57f8e #ffe6e7; 
  scrollbar-width: thin;
}

.sidebar:hover {
  scrollbar-color: #f22d3a #ffe6e7; 
}

/* Chrome, Edge, Safari support */
.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: #ffe6e7;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f57f8e; 
  border: 2px solid transparent;
  background-clip: content-box;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #f22d3a; 
}


/* ----------------- */


/* Firefox support */
.dark .custom-scrollbar {
  scrollbar-color: #f3f4f6 #292831; 
}

/* Chrome, Edge, Safari support */
.dark .sidebar::-webkit-scrollbar-thumb {
  background-color: #f22d3a; 
}