/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Package imports */
@import 'tailwindcss';
@plugin "daisyui";

/* Font Setting */
.font-oxygen {
  font-family: "Oxygen", sans-serif;
}
.font-libreBas {
  font-family: "Libre Baskerville", serif;
}
.font-jost {
  font-family: "Jost", sans-serif;
}

/* Theme related setting */
@custom-variant dark (&:where(.dark, .dark *));

/* Website reusable colors */
@theme {
  --primary: #f22d3a;
  --secondary: #ffe6e7;
  --dark-secondary: #34343e;
  --accent: #5e5d72;
  --accent-white: #f3f4f6;
  --dark: #000;
  --white: #fff;
  --base-100:#C4C4C8;
  --dark-bg: #3a3944;
}
